
@media (min-width: 320px) and (max-width:680px) {
    
    .mobile-burger{
        display: block !important;
        cursor: pointer;
        & i {
            font-size: 25px;
            color: #beb7b7;
        }
    }
    .header-list{
        display: none !important;
    }
    .steps{
        &-list{
            flex-direction: column;
            justify-content: left;
            &__item{
                width: 100%;
                margin: 10px 0;
            }
            &__border{
                display: none !important;
            }
        }
    }
    .fields-content{
        width: 100% !important;
    }
    .fields-block{
        &__input{
            margin: 0 auto;
            width: auto;    
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;    
        }
        &__title{
            text-align: center;
        }
        &__input{
            &-img{
                display: none;
            }
        }
    }
    .prod-block{
        &__content{
            display: flex;
            margin-top: 12px;
            flex-direction: column; 
        }
        &__title{
            text-align: center;
        }
        &__p{
            width: 100% !important;
        }
        &__img{
            margin: 0 auto;
            margin-bottom: 14px;
        }
        &__text{
            text-align: center;
        }
        &__description{
            display: flex;
            text-align: center;
            margin: 12px auto;
            justify-content: center;
        }
    }
    .prod-var{
        &__title{
            text-align: center;
        }
    }
    .prod-type{
        &__title{
            margin-left: 2rem;
        }
        &__list{
            display: flex;
            margin-top: 8px;
            margin-left: 2rem;
            flex-direction: column;
        }
    }
    .products{
        &-add{
            justify-content: center;
            margin-top: 10px !important;
        }
        &-content{
            &__item{
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &-right{
            &__title{
                text-align: center;
            }
        }
    }
    .post-item__btn{
        width: 100% !important;
    }
    // ============== STEP-1-ACTION ==============
    .add-action__btn{
        width: 100% !important;
    }
    // ============== STEP-1-ACTION ==============

    // ============== STEP-2-ACTION ==============

    .step-2{
        &__title{
            font-size: 23px !important  ;
        }
    }
    .step-2-end{
        &__list{
            flex-direction: column;
            width: 60% !important;
            margin: 0 auto !important;    
        }
        &__btn{
            margin:5px 0;
        }
        &__next{
            width: auto !important;
        }
    }
    .second-item{
        width: auto !important;
    }
    // ============== STEP-2-ACTION ==============

    // ============== ADD-LANGUAGE ===================
    .language-content{
        &__item{
            flex-direction: column;
        }
        &__btn{
            margin-left: 0 !important;
        }
        &__title{
            font-size: 21px !important;
            text-align: center;
        }
    }
    .language-item{
        &__number{
            text-align: center;
        }
        &__input{
            width: auto !important;
        }
        &__input-cover{
            flex-direction: column;
        }
        &__check-list{
            margin-top: 10px;   
        }
    }
    // ============== ADD-LANGUAGE__END ==============

    // ============== FIRST-STEP-DESKTOP ===================
    .products-item__title{
        margin-top: 8px;
    }
    .products-left__url-list{
        flex-direction: column;
        width: auto !important;
    }
    .products-right__img{
        margin-bottom: 10px !important;
    }
    .choose-domain__input-list{
        width: auto !important;
        margin-left: 0 !important;
    }
    // ============== FIRST-STEP-DESKTOP__END ==============
    .step-1__offer-p{
        text-align: center !important;
    }
    // ============== STEP-3 ========================
    .liner-content__img{
        margin: 0 auto;
    }
    .liner-content__btn{
        width: 100% !important;
        border-radius: 3px;
    }
    .liner-title{
        text-align: center;
        width: 100% !important;
        font-size: 23px !important;
    }
    .liner-download__pdf{
        width: 100% !important;
        margin-bottom: 15px;
    }
    // ============== STEP-3__END ===================

    // ============== STEP-4 ===================
    .choose-disign{
        margin-bottom: 36px;
    }
    .choose-content__right{
        justify-content: center !important;
    }
    .choose-content__title{
        font-size: 25px !important;
    }
    // ============== STEP-4__END ==============

    // ============== REPORT ============== 
        .report-table__p{
            font-size: 9px !important;
        }
        .report-inner__content{
            flex-direction: column;
        }
        .report-inner__link{
            margin-bottom: 12px;
        }
        .report__p-mobile{
            display: none;
        }
        .report-tabs__list{
            margin-left: 1.1rem;
        }
        .mb-m{
            margin-bottom: 0 !important ;
        }
    // ============== REPORT ==============
    .report-tabs__table-cover{
        overflow-x: scroll;
    }
    // ============== STEP-1-ACTION ===================
        .table-cover{
            overflow-x: scroll;
        }
    // ============== STEP-1-ACTION__END ==============
        .mobile-menu{
            position: absolute;
            width: 70%;
            background-color: #fff;
            height: 100%;
            right: -100% ;
            margin-top: 1px;
            z-index: 30;
            display: block !important;

            &__list{
                display: flex;
                flex-direction: column;
            }
            &__item{
                border-bottom : 1px solid #f0f0f0 ;
                padding: 6px 10px;
            }
        }
    // ==============  ==============
    
}       
  